
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Beau+Rivage&family=Cinzel:wght@400;500;600&family=Courgette&family=Forum&family=Great+Vibes&family=Pacifico&family=Satisfy&display=swap');


#header {
  // border: 2px solid red;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5%;
  background-color: white;
  color: #16b7f8;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #16b7f8;
  z-index: 2;
  box-shadow: 0.1px 0.2px 7px 0.1px #16b8f83a;
  height: 60px;
  gap: 10px;


  div.queryInput {
    // border: 2px solid green;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    font-family: 'Forum', cursive;
    font-size: 1.2rem;
    margin: 0 15px;
    width: 60%;


    input#searchQuery {
      width: 70%;
      height: 100%;
      padding: 4px 10px;
      font-size: inherit;
      font-family: inherit;
      border: 1px solid #16b7f8;
      border-radius: 5px;
    }

    button {
      font-family: inherit;
      padding: 5px 12px;
      font-size: 1.2rem;
      letter-spacing: 1px;
      background-color: transparent;
      border: none;
      border-radius: 5px;
      color: #16b7f8;
      font-weight: bolder;
      // height: 80%;
    }
  }

  a.liked, a.back {
    text-decoration: none;
    font-family: 'Forum', cursive;
    padding: 5px 7px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    // background-color: #16b7f8;
    border-radius: 5px;
    color: #16b7f8;
    font-weight: bolder;
    text-align: center;
    width: 30%;
    margin: 0;
  
  }
}

div#inputError {
  margin: 0 auto;
  width: max-content;
  margin-top: 75px;
  border: 1px solid #16b7f8;
  padding: 7px 15px;
  font-family: 'Cinzel', cursive;
  color: red;
  border-radius: 5px;
  font-size: larger;
}

div#skeletonWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 40px;

}

@media screen and (max-width: 600px) {
  #header {
    padding: 3px 2%;

    div.queryInput {
      gap: 10px;
      font-size: 1rem;

      button {
        padding: 2px 7px;
      }

    }

    a.liked, a.back {
      padding: 5px;
      font-size: 1rem;
      letter-spacing: 0;
      // background-color: #16b7f8;
      border: none;

    
    }

  }

}